// Will be very basic - most of it that can be targeted at html elements done in typography
@mixin oContentBodyWrapperWithoutImages {
	margin-bottom: 40px;

	> first-child {
		margin-top: 0;
	}

	> footer {
		margin-top: 40px;
		clear: both;
	}

	blockquote {
		@include oContentBodyBlockquote;
	}
}

@mixin oContentBodyWrapper {
	@include oContentBodyWrapperWithoutImages;

	figure {
		@include oContentBodyImageWrapper;
	}

}

// Version of the wrapper that includes inline asides
@mixin oContentBodyWrapperWithInlineAsides {
	@include oContentBodyWrapper;
	aside {
		@include oContentBodyAsideWrapperInline;
	}
}
