<article class="o-grid-row demo demo-article">
	<div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
		<div class="demo-article__body o-typography-body-wrapper">
			<p>Glencore has fired the starting gun on a sales process for two copper assets after the miner-cum-trader was approached by several suitors.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
      <aside class="o-content-body-aside-wrapper--inline">
        <div><h3>This is an inline title</h3></div>
        <article><h4><a href="#">Headline: Latest story on this topic</a></h4></article>
        <div>
          <p>Here's some text about this other story.</p>
          <p>There can be multiple paragraphs here.</p>
        </div>
      </aside>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
      <aside class="o-content-body-aside-wrapper">
        <div><h3>This is an full width aside</h3></div>
        <article><h4><a href="#">Headline: Latest story on this topic</a></h4></article>
        <div>
          <p>Here's some text about this other story. As this is full width, there is likely to be a lot of content in here.</p>
          <p>There can be multiple paragraphs here which really expand on a specific aspect of the story.</p>
        </div>
      </aside>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
		</div>
	</div>
</article>
