<article class="o-grid-row demo demo-article">
	<div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
		<div class="demo-article__body o-content-body-wrapper--with-inline-asides o-typography-body-wrapper">
			<p>3<sup>rd</sup> h<sub>2</sub>o <strong>Anheuser-Busch</strong> <em>InBev</em> raised its proposed takeover offer for SABMiller to £43.50 a share <small>on Monday</small>, upping the stakes in a takeover battle to create the world’s dominant brewing company, according to people familiar with the latest bid.</p>
			<p>News of the fourth proposal by <a href="#">AB InBev</a> for its London-listed rival, which values SABMiller’s equity at $70bn, came with less than 52 hours before a UK bid deadline.</p>
			<h2>Heading 2 Lorem ipsum dolor sit amet.</h2>
			<p>Glencore has fired the starting gun on a sales process for two copper assets after the miner-cum-trader was approached by several suitors.</p>
			<blockquote>
				<p>Sometimes you win, sometimes you lose</p>
				<footer>A very wise man once said</footer>
			</blockquote>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
			<figure>
				<div style="padding-top:66%">
					<img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=otype">
				</div>
				<figcaption>
					<a href="#void">©Lorem</a> John Doe
				</figcaption>
			</figure>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
			<aside>
				<div><h3>This is an aside</h3></div>
				<article><h4><a href="#">Headline: Latest story on this topic</a></h4></article>
				<div>
					<p>Here's some text about this other story.</p>
					<p>There can be multiple paragraphs here.</p>
				</div>
			</aside>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
			<footer>Copyright The Financial Times</footer>
		</div>
	</div>
</article>
